<section>
    <div class="logo">
        <img src="/images/hero_section/logo_icon_dark.svg" alt="">
        <span class="f-anta">L.Hamacher</span>
        <span>developer</span>
    </div>
    <nav>
        <a href="#whyMeSection">{{ 'nav.firstSection' | transloco }}</a>
        <a href="#skillsSection">{{ 'nav.secondSection' | transloco }}</a>
        <a href="#projectsSection">{{ 'nav.thirdSection' | transloco }}</a>
        <a href="#contactSection">{{ 'nav.fourthSection' | transloco }}</a>
    </nav>
    <div class="languages">
        <app-language-switcher></app-language-switcher>
    </div>
</section>