<section>
    <h1>Legal Notice</h1>
    <div class="content-container">
        <div>
            <h2>Imprint</h2>
            <ul>
                <li>Lucas Hamacher</li>
                <li>Kreuzgasse 4</li>
                <li>53894, Mechernich</li>
                <li>Deutschland</li>
            </ul>
        </div>
        <div>
            <h2>Contact</h2>
            <ul>
                <li>E-Mail: lucashamacher01@gmail.com</li>
                <li>Website: <a href="">lucashamacher.de</a></li>
            </ul>
        </div>
        <div>
            <h2>EU-Streitschlichtung</h2>
            <p>
                Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
                <a href="https://consumer-redress.ec.europa.eu/index_de">https://consumer-redress.ec.europa.eu/index_de</a>

                Unsere E-Mail-Adresse findest du oben im Impressum.

                Verbraucherstreitbeilegung / Universalschlichtungsstelle

                Ich bin nicht verpflichtet und nicht bereit, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen (§ 36 VSBG).
            </p>


        </div>
    </div>

</section>