<section>
    <h1>{{ "legalNotice.title" | transloco }}</h1>
    <div class="content-container">
        <div>
            <h2>{{ "legalNotice.imprint.title" | transloco }}</h2>
            <ul>
                <li>Lucas Hamacher</li>
                <li>Kreuzgasse 4</li>
                <li>53894, Mechernich</li>
                <li>{{ "legalNotice.imprint.country" | transloco }}</li>
            </ul>
        </div>
        <div>
            <h2>{{ "legalNotice.contact.title" | transloco }}</h2>
            <ul>
                <li>E-Mail: lucashamacher01@gmail.com</li>
                <li>Website: <a href="">lucashamacher.de</a></li>
            </ul>
        </div>
        <div>
            <h2>{{ "legalNotice.disputeResolution.title" | transloco }}</h2>
            <p>
                {{ "legalNotice.disputeResolution.text1" | transloco }}
                <a href="https://consumer-redress.ec.europa.eu/index_de">https://consumer-redress.ec.europa.eu/index_de</a>

                {{ "legalNotice.disputeResolution.text2" | transloco }}
            </p>
        </div>
        <div>
            <h2>{{ "legalNotice.termAcceptment.title" | transloco }}</h2>
            <p>{{ "legalNotice.termAcceptment.text" | transloco }}</p>
        </div>
        <div>
            <h2>{{ "legalNotice.ownershipScope.title" | transloco }}</h2>
            <p>{{ "legalNotice.ownershipScope.text" | transloco }}</p>
        </div>
        <div>
            <h2>{{ "legalNotice.rights.title" | transloco }}</h2>
            <p>{{ "legalNotice.rights.text" | transloco }}</p>
        </div>
        <div>
            <h2>{{ "legalNotice.productUse.title" | transloco }}</h2>
            <p>{{ "legalNotice.productUse.text" | transloco }}</p>
        </div>
        <div>
            <h2>{{ "legalNotice.warrantieDisclaimer.title" | transloco }}</h2>
            <p>{{ "legalNotice.warrantieDisclaimer.text" | transloco }}</p>
        </div>
        <div>
            <h2>{{ "legalNotice.indemnity.title" | transloco }}</h2>
            <p>{{ "legalNotice.indemnity.text" | transloco }}</p>
        </div>
        <div>
            <h2>{{ "legalNotice.date.title" | transloco }}</h2>
            <p>{{ "legalNotice.date.text" | transloco }}</p>
        </div>
    </div>

</section>