<section>
    <h1>{{ "privacyPolicy.title" | transloco}}</h1>
    <div class="content-container">
        <div>
            <h2>{{ "privacyPolicy.introduction.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.introduction.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.informationCollection.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.informationCollection.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.informationUse.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.informationUse.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.cookies.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.cookies.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.thirdParty.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.thirdParty.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.dataSecurity.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.dataSecurity.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.rights.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.rights.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.changes.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.changes.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.contact.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.contact.text" | transloco}}</p>
        </div>
        <div>
            <h2>{{ "privacyPolicy.date.title" | transloco}}</h2>
            <p>{{ "privacyPolicy.date.text" | transloco}}</p>
        </div>
    </div>

</section>