<section id="projectsSection">
    <div class="content-container">
        <h1>My Projects</h1>
        <div class="project-selection-header">
            @for (project of projects; track $index) {
            @if (bp.device() === 'sm' || bp.device() === 'xs' || bp.device() === 'xxs') {
            <div [class.project-selected]="selectedProject.id === project.id" (click)="selectProject(project)">
                <h3>
                    {{ $index + 1 }}. Project
                </h3>
            </div>
            } @else {
            <div [class.project-selected]="selectedProject.id === project.id" (click)="selectProject(project)">
                <h3>
                    {{ $index + 1 }}. {{ project.name }}
                </h3>
            </div>
            }
            }
        </div>
        <div class="project-body">
            <div class="left-content" [inViewport]="'slide-in-left'" [replayKey]="selectedProject.id">
                @for (description of selectedProject.descriptions; track $index) {
                <div class="project-description-container">
                    @if (bp.device() === 'xxl' || bp.device() === 'xl' || bp.device() === 'lg' || bp.device() === 'md')
                    {
                    <img src="/images/skill_section/project_point_ellipse.svg" alt="">
                    }
                    <div>
                        @if (bp.device() === 'xxs' || bp.device() === 'xs' || bp.device() === 'sm') {
                        <h4><img src="/images/skill_section/project_point_ellipse.svg" alt="">{{ description.title }}
                        </h4>
                        }
                        @else {
                        <h4>{{ description.title }}</h4>
                        }
                        <p>{{ description.text }}</p>
                    </div>
                </div>
                }
                @if (bp.device() === 'xxs' || bp.device() === 'xs' || bp.device() === 'sm') {
                <div class="project-links">
                    <a [href]="selectedProject.liveLink" class="live-test-button">Live Test</a>
                    <a [href]="selectedProject.githubLink" class="github-button">GitHub</a>
                </div>
                }
            </div>
            <div class="right-content" [inViewport]="'slide-in-right'" [replayKey]="selectedProject.id">
                @if (bp.device() === 'xxs' || bp.device() === 'xs' || bp.device() === 'sm') {
                <h3 class="project-name">{{ selectedProject.name }}</h3>
                }
                <span class="">Technologies</span>
                <div class="tech-icons">
                    @for (tech of selectedProject.technologies; track $index) {
                    <img [src]="'/images/skill_icons/' + tech + '.svg'">
                    }
                </div>
                <span>Duration: {{ selectedProject.time }}</span>
                <img [src]="'/images/project_images/' + selectedProject.img" alt="">
                @if (bp.device() === 'xxl' || bp.device() === 'xl' || bp.device() === 'lg' || bp.device() === 'md') {
                <div class="project-links">
                    <a [href]="selectedProject.liveLink" class="live-test-button">Live Test</a>
                    <a [href]="selectedProject.githubLink" class="github-button">GitHub</a>
                </div>
                }

            </div>
        </div>
    </div>
</section>