@use './_breakpoints.scss' as *;
@import url('./fonts.scss');
@import url('./components.scss');
@import './scroll-animations.scss';


:root {
    // colors
    --clr-primary-dark-grey: #262E34;
    --clr-primary-blue: #89BCD9;
    --clr-primary-blue-transparent: #89bcd912;
    --clr-creme-white: #F8F5EC;
    --clr-secondary-creme-white: #f8f5ec12;
    --clr-secondary-light-grey: #262E341F;
}

html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans';
    background-color: var(--clr-primary-dark-grey);
    color: var(--clr-creme-white);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: var(--clr-primary-blue);
    font-family: 'Anta';
    font-size: 60px;
    font-weight: 400;
}

.f-anta {
    font-family: 'Anta';
}

button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}

@include respond(xl) {}

@include respond(lg) {}

@include respond(md) {}

@include respond(sm) {
    h1 {
        font-size: 48px;
    }
}

@include respond(xs) {
    h1 {
        font-size: 36px;
    }
}

@include respond(xxs) {
    h1 {
        font-size: 32px;
    }
}