@import './../../../assets/styles/breakpoints';

section {
    width: 100%;
    padding: 80px;
    padding-bottom: 0px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >.content-container {
        max-width: 1000px;

        >div {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            margin-top: 64px;
            gap: 32px;

            >div {
                flex: 1;
                height: 100%;
            }
        }
    }
}

.content-left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 30px;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 16px;

    >p {
        text-align: justify;
        display: block;
        line-height: 120%;
        font-size: 18px;
    }
}

.contact-button {
    color: var(--clr-primary-blue);
    border-radius: 100px;
    border: 1px solid var(--clr-primary-blue);
    padding: 16px 24px;
    font-family: 'Josefin Sans';
    font-size: 18px;

    &:hover {
        background-color: var(--clr-secondary-creme-white);
    }
}

@include respond(xl) {
    section {
        padding: 40px;
        padding-top: 80px;
    }
}

@include respond(lg) {
    section {

        >.content-container {

            >div {
                align-items: center;
                flex-direction: column;
            }
        }
    }

    .content-right {
        max-width: 500px;
    }

    .contact-button {
        display: none;
    }
}


@include respond(sm) {
    section {
        padding: 20px;
    }

    .content-left {
        font-size: 24px;
    }

    .content-right {

        >p {
            font-size: 16px;
            text-align: left;
        }
    }
}

@include respond(xs) {
    .content-left {
        font-size: 20px;

        >img {
            width: 48px;
        }
    }

    .content-right {

        >p {
            font-size: 16px;
        }
    }
}


@include respond(xxs) {
    .content-left {
        font-size: 18px;

        >img {
            width: 40px;
        }
    }
}