<section id="whyMeSection">
    <div class="content-container">
        <h1>{{ 'nav.firstSection' | transloco}}</h1>
        <div>
            <div class="content-left">
                <app-typing-rotator class="animated-text" [items]="whyMeItems()" [typeSpeed]="100" [pauseAtEnd]="1100"
                    [selectSpeed]="500">
                </app-typing-rotator>
            </div>
            <div class="content-right">
                <p>{{ 'whyMeSection.paragraph' | transloco}}</p>
                <a class="contact-button" href="#contactSection">{{ "whyMeSection.button" | transloco }}</a>
            </div>
        </div>
    </div>
</section>