<section>
    <h1>Contact</h1>
    <div class="content-container">
        <div class="information-container">
            <p>Feel free to reach out with job opportunities, project collaborations, or professional recommendations — I'm always open to connecting with like-minded people.</p>
            <div class="contact-information">
                <span><img src="/images/contact_form/mail.svg" alt="">E-Mail: lucashamacher01@gmail.com</span>
                <span><img src="/images/contact_form/telefone.svg" alt="">Tel: 01573 253 453 1</span>
            </div>
        </div>
        <form action="">

        </form>

    </div>
</section>