<section id="contactSection">
    <h1>{{ "contactSection.title" | transloco }}</h1>
    <div class="content-container">
        <div class="information-container">
            <p>{{ "contactSection.contactText" | transloco }}</p>
            <div class="contact-information">
                <a href="mailto:lucashamacher01@gmail.com"><img src="/images/contact_form/mail.svg" alt="">E-Mail:
                    lucashamacher01@gmail.com</a>
                <a href="tel:015732534531"><img src="/images/contact_form/telefone.svg" alt="">Tel: 01573 253 453 1</a>
            </div>
        </div>
        @if (bp.device() === 'sm' || bp.device() === 'xs' || bp.device() === 'xxs') {
        <span style="color: var(--clr-primary-blue); margin-inline: auto; font-size: 20px;">{{ "contactSection.ctaText"
            | transloco }}</span>
        }
        <form novalidate #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <div class="user-info-container">
                <div class="input-container">
                    <label for="">
                        <input #name="ngModel" type="text" placeholder=" " [(ngModel)]="contactData.name" name="name"
                            required>
                        <span>{{ "contactSection.nameField" | transloco }}</span>
                    </label>
                    @if (!name.valid && name.touched) {
                    <span class="input-error">{{ "contactSection.errorHints.name" | transloco }}</span>
                    }
                </div>

                <div class="input-container">
                    <label for="">
                        <input #email="ngModel" type="email" placeholder=" " [(ngModel)]="contactData.email"
                            name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                        <span>{{ "contactSection.mailField" | transloco }}</span>
                    </label>
                    @if (!email.valid && email.touched) {
                    <span class="input-error">{{ "contactSection.errorHints.mail" | transloco }}</span>
                    }
                </div>
            </div>
            <div class="input-container">
                <label for="">
                    <textarea #message="ngModel" minlength="4" name="" id="" placeholder=" " class="message-input"
                        [(ngModel)]="contactData.message" name="message" required></textarea>
                    <span>{{ "contactSection.messageField" | transloco }}</span>
                </label>
                @if (!message.valid && message.touched) {
                <span class="input-error">{{ "contactSection.errorHints.message" | transloco }}</span>
                }
            </div>
            <div class="privacy-policy-check">
                <label class="checkbox-wrapper">
                    <input #privacy="ngModel" type="checkbox" name="privacy" [(ngModel)]="contactData.privacy"
                        required />
                    <span class="custom-checkbox"></span>
                </label>
                <span>{{ "contactSection.privacyPolicyText.start" | transloco }} <a routerLink="privacy-policy">{{
                        "contactSection.privacyPolicyText.link" | transloco }} </a> {{
                    "contactSection.privacyPolicyText.end" | transloco }}</span>
            </div>
            <button type="submit" [disabled]="contactForm.invalid || isSubmitting" class="btn-submit">
                @if (!isSubmitting) {
                <span class="btn-label">{{ "contactSection.submitButton" | transloco }}</span>
                }
                @if (isSubmitting) {
                <span class="spinner" aria-hidden="true"></span>
                }
            </button>
            <div class="alert success" [class.d-none]="status !== 'success'">{{ "contactSection.submitStatus.success" |
                transloco: undefined :'de' }}</div>
            <div class="alert error" [class.d-none]="status !== 'error'">{{ "contactSection.submitStatus.error" |
                transloco }}</div>
        </form>
    </div>
    <a href="#heroSection" class="scroll-button-absolute"><button class="scroll-button"><img
                src="/images/contact_form/arrow_up.svg" alt=""></button></a>
</section>