<section id="skillsSection">
    <div class="content-container">
        <h1>My Skills</h1>
        <div>
            <div class="content-left">
                @for (icon of icons; track $index) {
                <div class="tech-skill" [inViewport]="'fade-up'" [delay]="$index * 200">
                    <img [src]="'/images/skill_icons/' + icon + '.svg'" [alt]="icon + ' icon'" class="tech-icon">
                    <span class="tech-name">{{ icon }}</span>
                </div>
                }
            </div>
            @if (bp.device() === 'sm' || bp.device() === 'xs' || bp.device() === 'xxs') {
            <div class="content-right-mobile">
                <span>{{ 'skillSection.improvingHeader' | transloco}}</span>
                <div>
                    <p>{{ 'skillSection.improvingParagraph' | transloco }}</p>
                    <div>
                        @for (icon of learningStack; track $index) {
                        <div class="learning-skill">
                            <img [src]="'/images/skill_icons/' + icon + '.svg'" [alt]="icon + ' icon'"
                                class="tech-icon">
                            <span class="tech-name">{{ icon }}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
            }
            @else {
            <div class="content-right">
                <span>I am currently improving my</span>
                <div>
                    @for (icon of learningStack; track $index) {
                    <div class="learning-skill">
                        <img [src]="'/images/skill_icons/' + icon + '.svg'" [alt]="icon + ' icon'" class="tech-icon">
                        <span class="tech-name">{{ icon }}</span>
                    </div>
                    }
                </div>
                <p>skills in Vue.js and Angular. My focus is on the framework specific
                    functionalities. I'm also expanding my skills with the matching design frameworks: Vuetify and
                    Material Design.
                </p>
            </div>
            }
            @if (bp.device() === 'lg' || bp.device() === 'md' || bp.device() === 'sm' || bp.device() === 'xs' ||
            bp.device() === 'xxs') {
            <button class="contact-button">Let's talk</button>
            }
        </div>
    </div>
</section>