<section>
    <div class="content-container">
        <h1>My Skills</h1>
        <div>
            <div class="content-left">
                @for (icon of icons; track $index) {
                <div class="tech-skill">
                    <img [src]="'/images/skill_icons/' + icon + '.svg'" [alt]="icon + ' icon'" class="tech-icon">
                    <span class="tech-name">{{ icon }}</span>
                </div>

                }
            </div>
            <div class="content-right">

                <p>I am currently improving my skills in Vue.js and Angular. My focus is on the framework specific
                    funktionalities. I'm also expanding my skills with the matching design frameworks: Vuetify and
                    Material Design.
                </p>
            </div>
        </div>
    </div>
</section>