@import './../../../assets/styles/breakpoints';

section {
    width: 100%;
    padding: 80px;
    padding-bottom: 0px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-margin-top: 100px;

    >.content-container {
        max-width: 1000px;

        >div {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 64px;
            gap: 32px;

            >div {
                flex: 1;
                height: 100%;
            }

        }
    }
}

.content-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
    font-size: 30px;
}

.tech-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 60px;

    >img {
        width: 60px;
        aspect-ratio: 1/1;
    }

    >span {
        font-size: 18px;
        color: var(--clr-primary-blue);
        text-align: center;
    }
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-image: url('./../../../../../public/images/skill_section/skill_elipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/1;
    max-width: 500px;
    background-position: center;

    >div {
        display: flex;
        gap: 32px;
    }

    >span {
        font-size: 18px;
    }

    >p {
        text-align: center;
        display: block;
        line-height: 120%;
        font-size: 18px;
        max-width: 70%;
    }
}

.learning-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 32px;

    >img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    >span {
        font-size: 16px;
        text-align: center;
    }
}

.contact-button {
    color: var(--clr-primary-dark-grey);
    border-radius: 100px;
    border: 1px solid var(--clr-primary-dark-grey);
    padding: 16px 24px;
    font-family: 'Josefin Sans';
    font-size: 18px;
    margin-inline: auto;
    background-color: var(--clr-primary-blue);
    text-decoration: none;

    &:hover {
        background-color: var(--clr-secondary-dark-grey);
        color: var(--clr-primary-blue);
        border: 1px solid var(--clr-primary-blue);
    }
}



@include respond(xl) {
    .content-left {
        gap: 48px;
    }
}

@include respond(lg) {
    section {

        >.content-container {

            >div {
                flex-direction: column;

                >div {
                    max-width: 500px;
                }
            }
        }
    }

    .content-left {
        justify-content: center;
    }

}

// @include respond(md) {}

@include respond(sm) {
    section {
        padding: 20px;
        padding-top: 80px;

        >.content-container {
            >div {
                gap: 64px;
            }
        }
    }

    .tech-skill {
        width: 40px;
        gap: 8px;

        >img {
            width: 100%;
            aspect-ratio: 1/1;
        }

        >span {
            font-size: 16px;
            display: none;
        }
    }

    .content-right-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        >span {
            color: var(--clr-primary-blue);
            font-size: 18px;
        }

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 32px;

            >p {
                flex: 0.7;
            }

            >div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                background-image: url('./../../../../../public/images/skill_section/skill_elipse_mobile.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                flex: 0.3;
                aspect-ratio: 113/96;
            }
        }
    }
}


@include respond(xs) {
    .content-right-mobile {

        >div {
            gap: 16px;

            >p {
                flex: 0.6;
            }

            >div {
                flex: 0.4;
            }
        }
    }
}

@include respond(xxs) {
    .content-right-mobile {

        >div {
            flex-direction: column;

            >p {
                flex: 0.7;
            }

            >div {
                width: 50%;
            }
        }
    }
}

@media (max-height: 690px) {
    section{
        scroll-margin-top: 60px;
    }
}

