<footer>
    <div class="footer-content">
        @if (bp.device() === 'md' || bp.device() === 'sm' || bp.device() === 'xs' || bp.device() === 'xxs') {
        <a class="logo" routerLink="/" aria-label="Zur Startseite">
            <img src="/images/hero_section/logo_icon_dark.svg" alt="">
            <span class="f-anta">L.Hamacher</span>
            <span>developer</span>
        </a>
        <div class="social-icons">
            <a href="https://github.com/lucas-hmchr" class="github" target="_blank"></a>
            <a href="mailto:lucashamacher01@gmail.com" class="mail"></a>
            <a href="https://de.linkedin.com/in/lucas-hamacher-715ba927b?trk=people-guest_people_search-card"
                class="linkedin" target="_blank"></a>
        </div>
        <div class="legal-notice-container">
            <a routerLink="legal-notice">{{ 'footer.legal-notice' | transloco }}</a>
            <span>© Lucas Hamacher 2025</span>
        </div>
        } @else {
        <div class="legal-notice-container">
            <a routerLink="legal-notice">{{ 'footer.legal-notice' | transloco }}</a>
            <span>© Lucas Hamacher 2025</span>
        </div>
        <a class="logo" routerLink="/" aria-label="Zur Startseite">
            <img src="/images/hero_section/logo_icon_dark.svg" alt="">
            <span class="f-anta">L.Hamacher</span>
            <span>developer</span>
        </a>
        <div class="social-icons">
            <a href="https://github.com/lucas-hmchr" class="github" target="_blank"></a>
            <a href="mailto:lucashamacher01@gmail.com" class="mail"></a>
            <a href="https://de.linkedin.com/in/lucas-hamacher-715ba927b?trk=people-guest_people_search-card"
                class="linkedin" target="_blank"></a>
        </div>
        }
    </div>
</footer>