<footer>
    
    <div class="legal-notice-container">
        <a href="/legal-notice">Legal Notice</a>
        <span>© Lucas Hamacher 2025</span>
    </div>
    <div class="logo">
        <img src="/images/hero_section/logo_icon_dark.svg" alt="">
        <span class="f-anta">L.Hamacher</span>
        <span>developer</span>
    </div>
    <div class="social-icons">
        <a href="https://github.com/lucas-hmchr" class="github"></a>
        <a href="mailto:lucashamacher01@gmail.com" class="mail"></a>
        <a href="https://de.linkedin.com/in/lucas-hamacher-715ba927b?trk=people-guest_people_search-card" class="linkedin"></a>
    </div>
</footer>